/* color or background color can be done by giving names/rgb system or hex system */
#one{
    color:red;
    background-color: black;
}
#two{
    background-color:rgb(0,255,0);
    color: rgb(0,0,255 );
}
#three{
    background-color: #ffff00;
    color: #ff0000;
}