body{
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
}
@keyframes animate{
    from{
        transform:rotate(0deg);
        background-color: #160F30;
    }
    to{
        transform:rotate(360deg);
        background-color:#EAE7AF;
    }

}
#one{
    width:300px;
    height:300px;
    font-size: 25px;
    background-color: #160F30;
    color:#EAE7AF;
    border:3px solid #A72693;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    animation:animate 2s steps(3) 1s infinite normal;
    }
